/* See FiraSans-LICENSE.txt for the Fira Sans license. */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans'), url("/static/fonts/FiraSans-Regular.woff") format('woff');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Fira Sans Medium'), url("/static/fonts/FiraSans-Medium.woff") format('woff');
}

/* See SourceSerifPro-LICENSE.txt for the Source Serif Pro license and
 * Heuristica-LICENSE.txt for the Heuristica license. */
@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Serif Pro'), url("/static/fonts/SourceSerifPro-Regular.woff") format('woff');
}
@font-face {
    font-family: 'Source Serif Pro';
    font-style: italic;
    font-weight: 400;
    src: url("/static/fonts/Heuristica-Italic.woff") format('woff');
}
@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Source Serif Pro Bold'), url("/static/fonts/SourceSerifPro-Bold.woff") format('woff');
}

/* See SourceCodePro-LICENSE.txt for the Source Code Pro license. */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Code Pro'), url("/static/fonts/SourceCodePro-Regular.woff") format('woff');
}
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Code Pro Semibold'), url("/static/fonts/SourceCodePro-Semibold.woff") format('woff');
}


html,
body {
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    color: #222;
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}

a {
    outline: none;
}

.home-link {
    float: left;
    decoration: none;
    font-size: 22px;
    text-decoration: none;
    color: #333;
}

.home-link:hover {
    color: #000;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.header {
    padding: 20px 0;
    position: relative;
    background: #f5f5f5;
    border-bottom: 1px solid #eaeaea;
}

.nav {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-logo {
    float: left;
    margin-top: -11px;
    transition: transform 150ms ease-out;
}

.nav-logo:hover {
    transform: scale(1.1);
}

.nav-logo img {
    display: block;
    max-height: 40px;
    width: auto;
}

.nav-links {
    text-align: right;
    margin: 0;
    padding: 0;
    font-size: 18px;
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin: 0 0 0 15px;
}

.nav-links li:first-child {
    margin-left: 0;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

.nav-links a:hover {
    color: #000;
}

.content {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 15px; 
    line-height: 1.7;
}

.leftcolumn {
    float: left;
    width: 60%;
    font-size: 12px;
}

.rightcolum {
    float: right;
    width: 35%;
}


.article-title {
    font-size: 34px;
    color: #222;
    margin: 0;
    line-height: 1.3;
}

.article-date {
    color: #888;
}

.article-content p {
    margin: 15px 0 25px;
    color: #222;
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.article-content a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.article-content a:hover,
.article-content a:focus {
    color: #000;
}

.article-content hr {
    width: 150px;
    margin: 50px auto;
    height: 1px;
    overflow: hidden;
    border: none;
    background: #e5e5e5;
}

.highlight {
    border-radius: 3px;
    position: relative;
    margin: 40px 0;
    font-size: 14px;
}

.highlight pre {
    padding: 10px;
}

.archive {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.3em;
    text-align: left;
    color: #111;
}

.archive-title {
    margin-top: 30px;
}

.archive-item {
    margin: 5px 0 10px; 
    padding: 0;
    font-size: 19px;
}

.archive-item-date {
    color: #888;
    padding: 5px 0;
    display: block;
    font-size: 18px;
    text-align: right;
    float: right;
}

.archive-item-link {
    display: inline-block;
    text-decoration: none;
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;  font-weight: bold;
    color: #555;
    padding: 5px 0;
}

.archive-item-link:hover {
    color: #000;
}

.archive-item-link:hover {
    border-bottom-color: #222;
}

.footer {
    padding: 25px 0;
    text-align: center;
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;}

.footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ccc;
    font-size: 14px;
}

.footer-links li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.footer-links a {
    color: #888;
    text-decoration: none;
    transition: color 150ms ease;
    margin: 0 15px;
}

.footer-links a:hover,
.footer-links a:focus {
    color: #222;
}

.footer-links li::before {
    content: '/';
    position: relative;
    left: -2px;
}

.footer-links li:first-child::before {
    display: none;
}
.footer-links-kudos img {
    position: relative;
    top: 6px;
    margin-left: 2px;
}
